.kims-plantuml-placeholder {
	border: 1px solid var(--background-modifier-border);
	border-radius: 8px;
	/* padding: 12px; */
	background: var(--background-secondary);
	max-height: 85vh;
	width: fit-content;
}

.kims-plantuml-placeholder__meta {
	margin: 4px 0 0;
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
}

.kims-plantuml-placeholder__image {
	display: block;
	max-width: 100%;
	max-height: 85vh;
}

.kims-plantuml-placeholder pre {
	white-space: pre-wrap;
}

.kims-plantuml-placeholder details {
	margin: 8px 12px;
}


